.info {
  margin: 2% 10%;
  font-size: 20px;
  background-color: rgb(207, 179, 38);
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.ceneter{
  margin: 1% 47%;
  width: 10%;
}

.expansion_panel {
  padding: 1em;
  margin: 1% auto;
}



.input_filter {
  width: 20%;
  margin: 0 2%;
  top: 20px;
  bottom: -10px;
}

.crypto_name_input {
  top: 24px;
}

.b_filter{
  padding: 0.5em;
  top: 17px;
  left: 3em;
  width: 10%;
  text-align: center;
  background-color: #b0a32c;

}

